n8n/root-soulutions-leads-to-excel.json
{
  "name": "Root Soulutions — Leads to Excel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "root-soulutions-lead",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook — New Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-subscriber",
              "leftValue": "={{ $json.event }}",
              "rightValue": "new_subscriber",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-subscriber",
      "name": "Is Subscriber?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID_HERE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Subscribers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.data.email }}",
            "Signed Up": "={{ $json.timestamp }}",
            "Source": "Website Popup"
          }
        },
        "options": {}
      },
      "id": "sheets-subscribers",
      "name": "Google Sheets — Add Subscriber",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID_HERE"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Wholesale"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Business Name": "={{ $json.data.business_name }}",
            "Contact Name": "={{ $json.data.contact_name }}",
            "Email": "={{ $json.data.email }}",
            "Phone": "={{ $json.data.phone }}",
            "Business Type": "={{ $json.data.business_type }}",
            "Location": "={{ $json.data.location }}",
            "Message": "={{ $json.data.message }}",
            "Date": "={{ $json.timestamp }}",
            "Status": "New"
          }
        },
        "options": {}
      },
      "id": "sheets-wholesale",
      "name": "Google Sheets — Add Wholesale",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [700, 400]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "root-soulutions-export",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "export-trigger",
      "name": "Webhook — Manual Export Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 600]
    },
    {
      "parameters": {
        "url": "https://lovecrafteatery.com/api/admin/export-workbook",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "fetch-workbook",
      "name": "HTTP — Download Workbook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 600]
    }
  ],
  "connections": {
    "Webhook — New Lead": {
      "main": [
        [
          {
            "node": "Is Subscriber?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Subscriber?": {
      "main": [
        [
          {
            "node": "Google Sheets — Add Subscriber",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets — Add Wholesale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Manual Export Trigger": {
      "main": [
        [
          {
            "node": "HTTP — Download Workbook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
