n8n/wf1-new-subscriber-welcome.json
{
  "name": "RS — WF1: New Subscriber Welcome",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        32,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "sms-consent",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.data.sms_consent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            },
            {
              "id": "has-phone",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.data.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-sms-eligible",
      "name": "IF — SMS Eligible?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        352,
        560
      ]
    },
    {
      "parameters": {
        "from": "+18448202063",
        "to": "={{ $('Execute Workflow Trigger').item.json.data.phone }}",
        "message": "Root Soulutions: You're in the Soulution! Get 10% off your first order: lovecrafteatery.com/shop Use code WELCOME10. Reply STOP to opt out.",
        "options": {}
      },
      "id": "twilio-welcome-sms",
      "name": "Twilio — Welcome SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        592,
        208
      ],
      "credentials": {
        "twilioApi": {
          "id": "NFBhWEZ819QtvKit",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const data = item.json.data;\n  return {\n    json: {\n      sender: { name: 'Root Soulutions', email: 'contact@lovecrafteatery.com' },\n      to: [{ email: data.email }],\n      subject: 'Welcome to the Soulution',\n      htmlContent: \"<!DOCTYPE html><html><body style=\\\"font-family:sans-serif;background:#1a1a1a;color:#fff;padding:0;margin:0\\\"><div style=\\\"max-width:600px;margin:0 auto;padding:40px 32px\\\"><h1 style=\\\"color:#F5A623;font-size:32px;margin:0 0 16px\\\">Welcome to the Soulution</h1><p style=\\\"color:#ccc;font-size:16px;line-height:1.6\\\">You are officially part of the Root Soulutions family. We make bold, low-sodium, whole-food spice blends - no chemicals, no fillers, just real flavor crafted for people who care about what goes in their food.</p><h2 style=\\\"color:#F5A623;font-size:20px;margin:32px 0 8px\\\">Your Welcome Discount</h2><p style=\\\"color:#ccc;font-size:16px\\\">Use code <strong style=\\\"color:#fff;font-size:18px;letter-spacing:2px\\\">WELCOME10</strong> at checkout to save 10% on your first order.</p><a href=\\\"https://lovecrafteatery.com/shop\\\" style=\\\"display:inline-block;background:#e85c2a;color:#fff;font-weight:700;font-size:16px;padding:16px 32px;border-radius:50px;text-decoration:none;margin:24px 0\\\">Shop Now</a><p style=\\\"color:#888;font-size:13px;margin-top:40px;border-top:1px solid #333;padding-top:20px\\\">Root Soulutions - 1451 S Elm Eugene St, Greensboro, NC 27406<br/>Reply to this email to unsubscribe.</p></div></body></html>\"\n    }\n  };\n});"
      },
      "id": "code-build-welcome",
      "name": "Code — Build Welcome Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        144
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendInBlueApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "brevo-welcome-email",
      "name": "HTTP — Brevo Welcome Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -48
      ],
      "credentials": {
        "sendInBlueApi": {
          "id": "uS572H5fSNhbwLkv",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://swfviswbxxyodktnbkve.supabase.co/rest/v1/workflow_log",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"workflow\": \"welcome\", \"action\": \"sent\", \"recipient\": $(\"Execute Workflow Trigger\").item.json.data.email, \"subject\": \"Welcome to the Soulution\", \"status\": \"ok\", \"details\": $(\"Execute Workflow Trigger\").item.json.data.sms_consent ? \"email+sms sent\" : \"email only\" } }}",
        "options": {}
      },
      "id": "supabase-log",
      "name": "Supabase — Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "9P7JEtpZwbJG0Uya",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code — Build Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF — SMS Eligible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Build Welcome Email": {
      "main": [
        [
          {
            "node": "HTTP — Brevo Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Brevo Welcome Email": {
      "main": [
        [
          {
            "node": "Supabase — Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — SMS Eligible?": {
      "main": [
        [
          {
            "node": "Twilio — Welcome SMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase — Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio — Welcome SMS": {
      "main": [
        [
          {
            "node": "Supabase — Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null
}
