n8n/wf1-new-subscriber-welcome.json
{
  "name": "RS — WF1: New Subscriber Welcome",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.data.email }}",
        "subject": "Welcome to the Soulution 🌿",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><body style=\"font-family:sans-serif;background:#1a1a1a;color:#fff;padding:0;margin:0\"><div style=\"max-width:600px;margin:0 auto;padding:40px 32px\"><img src=\"https://lovecrafteatery.com/logo.png\" alt=\"Root Soulutions\" style=\"height:48px;margin-bottom:32px\" /><h1 style=\"color:#F5A623;font-size:32px;margin:0 0 16px\">Welcome to the Soulution 🌿</h1><p style=\"color:#ccc;font-size:16px;line-height:1.6\">You're officially part of the Root Soulutions family. We make bold, low-sodium, whole-food spice blends — no chemicals, no fillers, just real flavor crafted for people who care about what goes in their food.</p><h2 style=\"color:#F5A623;font-size:20px;margin:32px 0 8px\">Your Welcome Discount</h2><p style=\"color:#ccc;font-size:16px\">Use code <strong style=\"color:#fff;font-size:18px;letter-spacing:2px\">WELCOME10</strong> at checkout to save 10% on your first order.</p><a href=\"https://lovecrafteatery.com/shop\" style=\"display:inline-block;background:#e85c2a;color:#fff;font-weight:700;font-size:16px;padding:16px 32px;border-radius:50px;text-decoration:none;margin:24px 0\">Shop Now →</a><p style=\"color:#888;font-size:13px;margin-top:40px;border-top:1px solid #333;padding-top:20px\">Root Soulutions · 1451 S Elm Eugene St, Greensboro, NC 27406<br/>You received this because you subscribed at lovecrafteatery.com.<br/>Reply to this email to unsubscribe.</p></div></body></html>",
        "options": {
          "replyTo": "hello@rootsoulutions.com"
        }
      },
      "id": "brevo-welcome-email",
      "name": "Brevo — Welcome Email",
      "type": "n8n-nodes-base.sendInBlue",
      "typeVersion": 2,
      "position": [460, 200],
      "credentials": {
        "sendInBlueApi": { "id": "CvAbuQvIdxfZ8W2M", "name": "Brevo" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "sms-consent",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.body.data.sms_consent }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            },
            {
              "id": "has-phone",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.body.data.phone }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-sms-eligible",
      "name": "IF — SMS Eligible?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "from": "+18623153802",
        "to": "={{ $('Execute Workflow Trigger').item.json.body.data.phone }}",
        "message": "Root Soulutions: You're in the Soulution! Get 10% off your first order: lovecrafteatery.com/shop Use code WELCOME10. Reply STOP to opt out."
      },
      "id": "twilio-welcome-sms",
      "name": "Twilio — Welcome SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [680, 320],
      "credentials": {
        "twilioApi": { "id": "d83Oxb1xJ2lWmtZ1", "name": "Twilio" }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "workflow_log",
        "fields": {
          "values": [
            { "fieldId": "workflow", "fieldValue": "welcome" },
            { "fieldId": "action", "fieldValue": "sent" },
            { "fieldId": "recipient", "fieldValue": "={{ $('Execute Workflow Trigger').item.json.body.data.email }}" },
            { "fieldId": "subject", "fieldValue": "Welcome to the Soulution" },
            { "fieldId": "status", "fieldValue": "ok" },
            { "fieldId": "details", "fieldValue": "={{ $('Execute Workflow Trigger').item.json.body.data.sms_consent ? 'email+sms sent' : 'email only' }}" }
          ]
        }
      },
      "id": "supabase-log",
      "name": "Supabase — Log",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "supabaseApi": { "id": "gZoYZmg3201Iw4qB", "name": "Supabase" }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          { "node": "Brevo — Welcome Email", "type": "main", "index": 0 },
          { "node": "IF — SMS Eligible?", "type": "main", "index": 0 }
        ]
      ]
    },
    "IF — SMS Eligible?": {
      "main": [
        [{ "node": "Twilio — Welcome SMS", "type": "main", "index": 0 }],
        [{ "node": "Supabase — Log", "type": "main", "index": 0 }]
      ]
    },
    "Twilio — Welcome SMS": {
      "main": [[{ "node": "Supabase — Log", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "rs-wf1-welcome" }
}
