n8n/wf2-sms-inbound-handler.json
{
  "name": "RS — WF2+3: SMS Inbound Handler (START + STOP)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rs-sms-inbound",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "twilio-inbound",
      "name": "Webhook — Twilio Inbound SMS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.Body.toUpperCase().trim() }}",
                    "rightValue": "STOP",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stop"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ /^(START|SUBSCRIBE|JOIN)$/i.test($json.body.Body.trim()) }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-keyword",
      "name": "Switch — START or STOP",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "subscribers",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "phone", "fieldValue": "={{ $('Webhook — Twilio Inbound SMS').item.json.body.From }}" },
            { "fieldId": "sms_consent", "fieldValue": true }
          ]
        }
      },
      "id": "supabase-optin",
      "name": "Supabase — Opt-in",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 160],
      "credentials": {
        "supabaseApi": { "id": "gZoYZmg3201Iw4qB", "name": "Supabase Service Role" }
      }
    },
    {
      "parameters": {
        "from": "+18448202063",
        "to": "={{ $('Webhook — Twilio Inbound SMS').item.json.body.From }}",
        "message": "Root Soulutions: Subscribed! Expect farmers market updates, new drops & deals. Msg & data rates may apply. Reply STOP to cancel."
      },
      "id": "twilio-optin-reply",
      "name": "Twilio — Reply START",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [900, 160],
      "credentials": {
        "twilioApi": { "id": "d83Oxb1xJ2lWmtZ1", "name": "Twilio SMS" }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "workflow_log",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "workflow", "fieldValue": "sms_optin" },
            { "fieldId": "action", "fieldValue": "subscribed" },
            { "fieldId": "recipient", "fieldValue": "={{ $('Webhook — Twilio Inbound SMS').item.json.body.From }}" },
            { "fieldId": "subject", "fieldValue": "SMS opt-in" },
            { "fieldId": "status", "fieldValue": "ok" },
            { "fieldId": "details", "fieldValue": "={{ 'Keyword: ' + $('Webhook — Twilio Inbound SMS').item.json.body.Body }}" }
          ]
        }
      },
      "id": "log-optin",
      "name": "Log — Opt-in",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 160],
      "credentials": {
        "supabaseApi": { "id": "gZoYZmg3201Iw4qB", "name": "Supabase Service Role" }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "subscribers",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Webhook — Twilio Inbound SMS').item.json.body.From }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "sms_consent", "fieldValue": false }
          ]
        }
      },
      "id": "supabase-optout",
      "name": "Supabase — Opt-out",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 440],
      "credentials": {
        "supabaseApi": { "id": "gZoYZmg3201Iw4qB", "name": "Supabase Service Role" }
      }
    },
    {
      "parameters": {
        "from": "+18448202063",
        "to": "={{ $('Webhook — Twilio Inbound SMS').item.json.body.From }}",
        "message": "Root Soulutions: Unsubscribed. No more messages. Reply START to resubscribe anytime."
      },
      "id": "twilio-optout-reply",
      "name": "Twilio — Reply STOP",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [900, 440],
      "credentials": {
        "twilioApi": { "id": "d83Oxb1xJ2lWmtZ1", "name": "Twilio SMS" }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "workflow_log",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "workflow", "fieldValue": "sms_optout" },
            { "fieldId": "action", "fieldValue": "unsubscribed" },
            { "fieldId": "recipient", "fieldValue": "={{ $('Webhook — Twilio Inbound SMS').item.json.body.From }}" },
            { "fieldId": "subject", "fieldValue": "SMS opt-out" },
            { "fieldId": "status", "fieldValue": "ok" },
            { "fieldId": "details", "fieldValue": "STOP received" }
          ]
        }
      },
      "id": "log-optout",
      "name": "Log — Opt-out",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1100, 440],
      "credentials": {
        "supabaseApi": { "id": "gZoYZmg3201Iw4qB", "name": "Supabase Service Role" }
      }
    }
  ],
  "connections": {
    "Webhook — Twilio Inbound SMS": {
      "main": [[{ "node": "Switch — START or STOP", "type": "main", "index": 0 }]]
    },
    "Switch — START or STOP": {
      "main": [
        [{ "node": "Supabase — Opt-out", "type": "main", "index": 0 }],
        [{ "node": "Supabase — Opt-in", "type": "main", "index": 0 }]
      ]
    },
    "Supabase — Opt-in": {
      "main": [[{ "node": "Twilio — Reply START", "type": "main", "index": 0 }]]
    },
    "Twilio — Reply START": {
      "main": [[{ "node": "Log — Opt-in", "type": "main", "index": 0 }]]
    },
    "Supabase — Opt-out": {
      "main": [[{ "node": "Twilio — Reply STOP", "type": "main", "index": 0 }]]
    },
    "Twilio — Reply STOP": {
      "main": [[{ "node": "Log — Opt-out", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "rs-wf2-sms-inbound" }
}
