n8n/wf2-sms-inbound-handler.json
{
  "name": "RS — WF2+3: SMS Inbound Handler (START + STOP)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rs-sms-inbound",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "twilio-inbound",
      "name": "Webhook — Twilio Inbound SMS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.Body.toUpperCase().trim() }}",
                    "rightValue": "STOP",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stop"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.Body.toUpperCase().trim() }}",
                    "rightValue": "START",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-keyword",
      "name": "Switch — START or STOP",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://swfviswbxxyodktnbkve.supabase.co/rest/v1/subscribers?phone=eq.{{ encodeURIComponent($('Webhook — Twilio Inbound SMS').item.json.body.From) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"sms_consent\": true } }}",
        "options": {}
      },
      "id": "supabase-optin",
      "name": "Supabase — Opt-in",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 160],
      "credentials": {
        "supabaseApi": { "id": "mXeE7hNSsbndGCTz", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "from": "+18448202063",
        "to": "={{ $('Webhook — Twilio Inbound SMS').item.json.body.From }}",
        "message": "Root Soulutions: Subscribed! Expect farmers market updates, new drops & deals. Msg & data rates may apply. Reply STOP to cancel."
      },
      "id": "twilio-optin-reply",
      "name": "Twilio — Reply START",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [900, 160],
      "credentials": {
        "twilioApi": { "id": "d83Oxb1xJ2lWmtZ1", "name": "Twilio SMS" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://swfviswbxxyodktnbkve.supabase.co/rest/v1/workflow_log",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"workflow\": \"sms_optin\", \"action\": \"subscribed\", \"recipient\": $('Webhook — Twilio Inbound SMS').item.json.body.From, \"subject\": \"SMS opt-in\", \"status\": \"ok\", \"details\": \"Keyword: \" + $('Webhook — Twilio Inbound SMS').item.json.body.Body } }}",
        "options": {}
      },
      "id": "log-optin",
      "name": "Log — Opt-in",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 160],
      "credentials": {
        "supabaseApi": { "id": "mXeE7hNSsbndGCTz", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://swfviswbxxyodktnbkve.supabase.co/rest/v1/subscribers?phone=eq.{{ encodeURIComponent($('Webhook — Twilio Inbound SMS').item.json.body.From) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"sms_consent\": false } }}",
        "options": {}
      },
      "id": "supabase-optout",
      "name": "Supabase — Opt-out",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 440],
      "credentials": {
        "supabaseApi": { "id": "mXeE7hNSsbndGCTz", "name": "Supabase account" }
      }
    },
    {
      "parameters": {
        "from": "+18448202063",
        "to": "={{ $('Webhook — Twilio Inbound SMS').item.json.body.From }}",
        "message": "Root Soulutions: Unsubscribed. No more messages. Reply START to resubscribe anytime."
      },
      "id": "twilio-optout-reply",
      "name": "Twilio — Reply STOP",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [900, 440],
      "credentials": {
        "twilioApi": { "id": "d83Oxb1xJ2lWmtZ1", "name": "Twilio SMS" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://swfviswbxxyodktnbkve.supabase.co/rest/v1/workflow_log",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"workflow\": \"sms_optout\", \"action\": \"unsubscribed\", \"recipient\": $('Webhook — Twilio Inbound SMS').item.json.body.From, \"subject\": \"SMS opt-out\", \"status\": \"ok\", \"details\": \"STOP received\" } }}",
        "options": {}
      },
      "id": "log-optout",
      "name": "Log — Opt-out",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 440],
      "credentials": {
        "supabaseApi": { "id": "mXeE7hNSsbndGCTz", "name": "Supabase account" }
      }
    }
  ],
  "connections": {
    "Webhook — Twilio Inbound SMS": {
      "main": [[{ "node": "Switch — START or STOP", "type": "main", "index": 0 }]]
    },
    "Switch — START or STOP": {
      "main": [
        [{ "node": "Supabase — Opt-out", "type": "main", "index": 0 }],
        [{ "node": "Supabase — Opt-in", "type": "main", "index": 0 }]
      ]
    },
    "Supabase — Opt-in": {
      "main": [[{ "node": "Twilio — Reply START", "type": "main", "index": 0 }]]
    },
    "Twilio — Reply START": {
      "main": [[{ "node": "Log — Opt-in", "type": "main", "index": 0 }]]
    },
    "Supabase — Opt-out": {
      "main": [[{ "node": "Twilio — Reply STOP", "type": "main", "index": 0 }]]
    },
    "Twilio — Reply STOP": {
      "main": [[{ "node": "Log — Opt-out", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "rs-wf2-sms-inbound" }
}
