n8n/wf4-wholesale-alert.json
{
  "name": "RS \u2014 WF4: Wholesale Inquiry Alert",
  "nodes": [
    {
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "twilio-alert-sms",
      "name": "Twilio \u2014 Alert SMS to Collin",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        460,
        400
      ],
      "parameters": {
        "from": "+18448202063",
        "to": "+18623153802",
        "message": "=RS: New wholesale inquiry from {{ $('Execute Workflow Trigger').item.json.body.data.business_name }}. Check email."
      },
      "credentials": {
        "twilioApi": {
          "id": "NFBhWEZ819QtvKit",
          "name": "Twilio SMS"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const t = item.json || {};\n  const d = (t.body && t.body.data) || t.data || t || {};\n  const html = '<p><strong>New wholesale inquiry:</strong></p><p>Business: ' + (d.business_name||'') +\n    '<br/>Contact: ' + (d.contact_name||'') +\n    '<br/>Email: ' + (d.email||'') +\n    '<br/>Phone: ' + (d.phone||'Not provided') +\n    '<br/>Business Type: ' + (d.business_type||'Not provided') +\n    '<br/>Location: ' + (d.location||'Not provided') +\n    '<br/>Message: ' + (d.message||'None') + '</p>' +\n    '<p>Submitted: ' + ((t.body && t.body.timestamp) || t.timestamp || '') + '</p>' +\n    '<p>Reply to <a href=\"mailto:' + (d.email||'') + '\">' + (d.email||'') + '</a></p>';\n  return {\n    json: {\n      sender: { name: 'Root Soulutions', email: 'contact@lovecrafteatery.com' },\n      to: [{ email: 'contact@lovecrafteatery.com' }],\n      subject: 'New Wholesale Inquiry - ' + (d.business_name||'Unknown'),\n      htmlContent: html\n    }\n  };\n});"
      },
      "id": "code-build-wholesale",
      "name": "Code \u2014 Build Wholesale Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "sendInBlueApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "brevo-alert-email",
      "name": "HTTP \u2014 Brevo Alert Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        160
      ],
      "credentials": {
        "sendInBlueApi": {
          "id": "uS572H5fSNhbwLkv",
          "name": "Brevo account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://swfviswbxxyodktnbkve.supabase.co/rest/v1/workflow_log",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"workflow\": \"wholesale_alert\", \"action\": \"sent\", \"recipient\": $(\"Execute Workflow Trigger\").item.json.body.data.email, \"subject\": \"Wholesale inquiry - \" + $(\"Execute Workflow Trigger\").item.json.body.data.business_name, \"status\": \"ok\", \"details\": $(\"Execute Workflow Trigger\").item.json.body.data.business_name } }}",
        "options": {}
      },
      "id": "supabase-log",
      "name": "Supabase \u2014 Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "9P7JEtpZwbJG0Uya",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Code \u2014 Build Wholesale Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twilio \u2014 Alert SMS to Collin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code \u2014 Build Wholesale Email": {
      "main": [
        [
          {
            "node": "HTTP \u2014 Brevo Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP \u2014 Brevo Alert Email": {
      "main": [
        [
          {
            "node": "Supabase \u2014 Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio \u2014 Alert SMS to Collin": {
      "main": [
        [
          {
            "node": "Supabase \u2014 Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null
}