n8n/wf7-email-blast-scheduler.json
{
  "name": "RS — WF7: Email Blast Scheduler (Mon/Wed/Fri)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 * * 1,3,5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule — Mon/Wed/Fri 10am ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const now = new Date();\nconst day = now.getDay();\nconst dayMap = { 1: 'monday', 3: 'wednesday', 5: 'friday' };\nconst dayLabel = dayMap[day] || 'monday';\nconst sevenDaysAgo = new Date(now - 7 * 24 * 60 * 60 * 1000).toISOString();\nreturn [{ json: { dayLabel, runAt: now.toISOString(), sevenDaysAgo } }];"
      },
      "id": "code-day",
      "name": "Code — Get Day",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "subscribers",
        "returnAll": true
      },
      "id": "fetch-subscribers",
      "name": "Supabase — Fetch All Subscribers",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 200],
      "credentials": {
        "supabaseApi": { "id": "gZoYZmg3201Iw4qB", "name": "Supabase Service Role" }
      }
    },
    {
      "parameters": {
        "resource": "customer",
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "fetch-shopify-customers",
      "name": "Shopify — Fetch Customers",
      "type": "n8n-nodes-base.shopify",
      "typeVersion": 1,
      "position": [680, 400],
      "credentials": {
        "shopifyApi": { "id": "REPLACE_WITH_SHOPIFY_CRED_ID", "name": "Shopify — Root Soulutions" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const subscribers = $('Supabase — Fetch All Subscribers').all().map(i => i.json);\nconst shopifyCustomers = $('Shopify — Fetch Customers').all().map(i => i.json);\nconst customerEmails = new Set(shopifyCustomers.map(c => c.email?.toLowerCase()).filter(Boolean));\nconst sevenDaysAgo = new Date($('Code — Get Day').first().json.sevenDaysAgo);\n\nconst segments = { new_subscriber: [], returning: [], customer: [] };\nfor (const sub of subscribers) {\n  if (!sub.email) continue;\n  const email = sub.email.toLowerCase();\n  if (customerEmails.has(email)) {\n    segments.customer.push(sub);\n  } else if (new Date(sub.subscribed_at) >= sevenDaysAgo) {\n    segments.new_subscriber.push(sub);\n  } else {\n    segments.returning.push(sub);\n  }\n}\n\nreturn [{ json: { segments, dayLabel: $('Code — Get Day').first().json.dayLabel, totalCount: subscribers.length } }];"
      },
      "id": "code-segment",
      "name": "Code — Segment Subscribers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json.dayLabel }}", "rightValue": "monday", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "monday"
            },
            {
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json.dayLabel }}", "rightValue": "wednesday", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "wednesday"
            },
            {
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json.dayLabel }}", "rightValue": "friday", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "friday"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-day",
      "name": "Switch — Day of Week",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write a short, warm email body for Root Soulutions (lovecrafteatery.com), a brand making bold, low-sodium, whole-food spice blends (Simple SZN, Smokey Cajun SZN, Garlicky SZN). Topic: Product Education — explain what makes our blends different (whole-food ingredients, no chemicals, low sodium). Include one key ingredient benefit and a CTA to shop. 200 words max. Email body only, no subject line. Plain text."
      },
      "id": "claude-monday-education",
      "name": "Claude — Monday Education",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1320, 160]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5",
        "options": { "maxTokens": 600 }
      },
      "id": "anthropic-monday-education",
      "name": "Anthropic Model — Education",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1320, 280],
      "credentials": {
        "anthropicApi": { "id": "5nGgwoStoJFhw8xi", "name": "Anthropic Claude" }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write a warm, community-focused email body for Root Soulutions (lovecrafteatery.com) about their farmers market presence. Mention they are at local markets in the Greensboro NC area, share Collin's passion for the community, and include a CTA to check lovecrafteatery.com/markets for the schedule. 200 words max. Email body only, no subject line. Plain text."
      },
      "id": "claude-monday-market",
      "name": "Claude — Monday Market",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1320, 380]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5",
        "options": { "maxTokens": 600 }
      },
      "id": "anthropic-monday-market",
      "name": "Anthropic Model — Market",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1320, 500],
      "credentials": {
        "anthropicApi": { "id": "5nGgwoStoJFhw8xi", "name": "Anthropic Claude" }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write a fun, practical recipe email body for Root Soulutions (lovecrafteatery.com). Feature one simple dish using Smokey Cajun SZN or Garlicky SZN blend. Include: dish name, 3-4 simple ingredients, 2-3 cooking steps using the blend as the main seasoning, and a CTA to shop at lovecrafteatery.com/shop. Casual and delicious tone. 250 words max. Email body only, no subject line. Plain text."
      },
      "id": "claude-wednesday-recipe",
      "name": "Claude — Wednesday Recipe",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1320, 600]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5",
        "options": { "maxTokens": 700 }
      },
      "id": "anthropic-wednesday-recipe",
      "name": "Anthropic Model — Recipe",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1320, 720],
      "credentials": {
        "anthropicApi": { "id": "5nGgwoStoJFhw8xi", "name": "Anthropic Claude" }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write a brief exclusive deal email body for returning Root Soulutions customers. Thank them for their support. Offer 15% off with code LOYAL15. Emphasize it's exclusive to repeat customers. Warm, grateful tone. CTA to shop at lovecrafteatery.com/shop. 150 words max. Email body only, no subject line. Plain text."
      },
      "id": "claude-friday-loyal",
      "name": "Claude — Friday Loyal",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1320, 820]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5",
        "options": { "maxTokens": 500 }
      },
      "id": "anthropic-friday-loyal",
      "name": "Anthropic Model — Loyal",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1320, 940],
      "credentials": {
        "anthropicApi": { "id": "5nGgwoStoJFhw8xi", "name": "Anthropic Claude" }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write a first-purchase invitation email body for people who haven't ordered from Root Soulutions yet. Highlight: no chemicals, low sodium, whole-food spice blends. Offer 10% off with code WELCOME10. CTA to shop at lovecrafteatery.com/shop. Friendly, inviting tone. 150 words max. Email body only, no subject line. Plain text."
      },
      "id": "claude-friday-intro",
      "name": "Claude — Friday Intro",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1320, 1040]
    },
    {
      "parameters": {
        "model": "claude-haiku-4-5",
        "options": { "maxTokens": 500 }
      },
      "id": "anthropic-friday-intro",
      "name": "Anthropic Model — Intro",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1320, 1160],
      "credentials": {
        "anthropicApi": { "id": "5nGgwoStoJFhw8xi", "name": "Anthropic Claude" }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "workflow_log",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "workflow", "fieldValue": "email_blast" },
            { "fieldId": "action", "fieldValue": "sent" },
            { "fieldId": "recipient", "fieldValue": "batch" },
            { "fieldId": "subject", "fieldValue": "={{ $('Switch — Day of Week').item.json.dayLabel + ' email blast' }}" },
            { "fieldId": "status", "fieldValue": "ok" },
            { "fieldId": "details", "fieldValue": "={{ $('Code — Segment Subscribers').item.json.totalCount + ' subscribers processed' }}" }
          ]
        }
      },
      "id": "supabase-log",
      "name": "Supabase — Log Blast",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1600, 600],
      "credentials": {
        "supabaseApi": { "id": "gZoYZmg3201Iw4qB", "name": "Supabase Service Role" }
      }
    }
  ],
  "connections": {
    "Schedule — Mon/Wed/Fri 10am ET": {
      "main": [[{ "node": "Code — Get Day", "type": "main", "index": 0 }]]
    },
    "Code — Get Day": {
      "main": [[
        { "node": "Supabase — Fetch All Subscribers", "type": "main", "index": 0 },
        { "node": "Shopify — Fetch Customers", "type": "main", "index": 0 }
      ]]
    },
    "Supabase — Fetch All Subscribers": {
      "main": [[{ "node": "Code — Segment Subscribers", "type": "main", "index": 0 }]]
    },
    "Shopify — Fetch Customers": {
      "main": [[{ "node": "Code — Segment Subscribers", "type": "main", "index": 0 }]]
    },
    "Code — Segment Subscribers": {
      "main": [[{ "node": "Switch — Day of Week", "type": "main", "index": 0 }]]
    },
    "Switch — Day of Week": {
      "main": [
        [
          { "node": "Claude — Monday Education", "type": "main", "index": 0 },
          { "node": "Claude — Monday Market", "type": "main", "index": 0 }
        ],
        [{ "node": "Claude — Wednesday Recipe", "type": "main", "index": 0 }],
        [
          { "node": "Claude — Friday Loyal", "type": "main", "index": 0 },
          { "node": "Claude — Friday Intro", "type": "main", "index": 0 }
        ]
      ]
    },
    "Claude — Monday Education": {
      "ai_languageModel": [[{ "node": "Anthropic Model — Education", "type": "ai_languageModel", "index": 0 }]],
      "main": [[{ "node": "Supabase — Log Blast", "type": "main", "index": 0 }]]
    },
    "Claude — Monday Market": {
      "ai_languageModel": [[{ "node": "Anthropic Model — Market", "type": "ai_languageModel", "index": 0 }]],
      "main": [[{ "node": "Supabase — Log Blast", "type": "main", "index": 0 }]]
    },
    "Claude — Wednesday Recipe": {
      "ai_languageModel": [[{ "node": "Anthropic Model — Recipe", "type": "ai_languageModel", "index": 0 }]],
      "main": [[{ "node": "Supabase — Log Blast", "type": "main", "index": 0 }]]
    },
    "Claude — Friday Loyal": {
      "ai_languageModel": [[{ "node": "Anthropic Model — Loyal", "type": "ai_languageModel", "index": 0 }]],
      "main": [[{ "node": "Supabase — Log Blast", "type": "main", "index": 0 }]]
    },
    "Claude — Friday Intro": {
      "ai_languageModel": [[{ "node": "Anthropic Model — Intro", "type": "ai_languageModel", "index": 0 }]],
      "main": [[{ "node": "Supabase — Log Blast", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "rs-wf7-email-blast" }
}
